.chat {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  background-color: #000000;
  overflow-x: hidden;
  position: relative;
}

.chat-container {
  height: 100%;
  width: calc(100vw - 2 * 8px - 380px - 8px);
  position: relative;
  right: -8px;
}

.chat-messages {
  background-color: #121212;
  width: 100%;
  height: calc(100vh - 57px - 3 * 8px);
  position: relative;
  bottom: -65px;
  border-radius: 10px;
  padding-top: 5px;
}

.chat-close {
  background-color: #121212;
  height: 100%;
  width: calc(100vw - 2 * 8px - 380px - 8px);
  position: relative;
  right: -8px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-group-names {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  transform: rotate(-90deg)
}

.group-names {
  position: relative;
  display: flex;
  margin-left: 20px;
  height: 57px;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  transform-origin: left top;
  transform: rotate(90deg);
  top: 0;
}

.group-name-container {
  display: flex;
  background: #2b2b2b;
  border-radius: 100px;
  margin-right: 50px;
  height: 50px;
  cursor: pointer;
  align-items: center;
  padding-right: 18px;
}

.group-profile-picture {
  background-color: grey;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin: 3px;
}

.group-username {
  margin-left: 8px;
}
