.chat {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  background-color: #000000;
  overflow: hidden;
  position: relative;
}

.chat-container {
  height: 100%;
  width: calc(100vw - 2 * 8px - 380px - 8px);
  position: relative;
  right: -8px;
}

.chat-messages {
  background-color: #121212;
  width: 100%;
  height: calc(100vh - 57px - 3 * 8px);
  position: relative;
  bottom: -65px;
  border-radius: 10px;
  padding-top: 5px;
}

.chat-close {
  background-color: #121212;
  height: 100%;
  width: calc(100vw - 2 * 8px - 380px - 8px);
  position: relative;
  right: -8px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-group-names {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.group-names::-webkit-scrollbar {
  display: none;
}

.group-names {
  margin-left: 20px;
  position: relative;
  display: flex;
  height: 57px;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
}

.group-user-container {
  display: flex;
  background: #2b2b2b;
  border-radius: 100px;
  height: 100%;
  align-items: center;
  padding-right: 18px;
  margin-right: 0;
  cursor: pointer;
  transition: background-color 0.2s ease 0s;
}

.group-user-container:hover {
  background-color: #3f3d3d;
}

.group-user-container:hover .group-username {
  color: #ffffff;
}

.group-name-container:last-child {
  margin-right: 0;
}

.group-profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #808080;
  font-size: 2em;
  object-fit: cover;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin: 3px;
  user-select: none;
}

.group-username {
  margin-left: 8px;
}

.profile-dropdown-menu {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 100;
}

.profile-dropdown-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: fixed;
  background-color: #050505;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

.dropdown-li {
  color: #dddddd;
  font-size: 16px;
}

.group-name-container {
  width: min-content;
  height: 50px;
  margin-right: 50px;
}
