body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #121212;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  color: #dddddd;
  text-align: center;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #cccccc !important;
  color: #121212;
  border: none;
  border-radius: 3px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #cccccc inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #121212 !important;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}

button[type="submit"] {
  background-color: #cccccc;
  color: #121212;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

.register-link {
  color: #dddddd;
  text-align: center;
  margin-top: 10px;
}

.register-link a {
  color: #dddddd;
}

.incorrect-input::placeholder {
  color: #ff0000;
}

.incorrect-input {
  caret-color: transparent;
}
